In [1]:
import pandas as pd

df = pd.read_csv('good_loans.csv')

In [2]:
df.head()

,Unnamed: 0,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,589036,10000.0,10000.0,10000.0,36 months,9.44,320.05,B,B1,4 years,...,40.0,1.0,0.0,206327.0,19803.0,13400.0,22044.0,N,Cash,N
1,153755,24000.0,24000.0,24000.0,60 months,16.55,590.68,D,D2,2 years,...,57.1,0.0,0.0,122955.0,64122.0,22000.0,87255.0,N,Cash,N
2,693848,12000.0,12000.0,12000.0,60 months,14.46,282.09,C,C4,3 years,...,0.0,0.0,0.0,270301.0,66028.0,15000.0,91011.0,N,Cash,N
3,1435529,20000.0,20000.0,20000.0,36 months,19.92,742.46,D,D3,3 years,...,66.7,1.0,0.0,53778.0,42388.0,16400.0,30378.0,N,Cash,N
4,633592,15000.0,15000.0,15000.0,36 months,10.42,486.98,B,B3,3 years,...,28.6,0.0,0.0,40700.0,22543.0,26200.0,12000.0,N,Cash,N

In [101]:
# make a dummy array so we can insert a new column with the return from the loans using compound interest
dummy_array=[]
counter=0

# build a dummy array of the same length to fill our new columns
for x in df['loan_amnt']:
    dummy_array.append(counter)
    counter=counter+1

In [ ]:
# Insert a new column for the total returns
df.insert(7,"returns",dummy_array)

In [ ]:
# Insert a new column for the multiplying the installments by the term
df.insert(8,"installments_and_terms", dummy_array)

In [97]:
# Insert a new column for the annualized returns, which is the total returns - the initial loan amount
df.insert(7,"annualized_returns",dummy_array)

In [98]:
#function to get the returns by taking the payment installments and multiplying it by the term length
def get_installment_and_terms(row):
    return int(row['term'][:3])*row['installment']

#function to get the total returns using the compound interest formula
def get_returns(row):
    return round(row['loan_amnt']*((1+((row['int_rate']/100)/12))**(int(row['term'][:3])/2)),2)

#function to get the annualized returns
def get_annualized_returns(row):
    return row['returns']-row['loan_amnt']

In [99]:
# for row in df.iterrows():
#     row[1]['returns'] = row[1]['returns'] -1
#     print(row[1]['returns'])


# populate the new columns with the correct values
df['returns'] = df.apply (lambda row: get_returns(row), axis=1)
df['installments_and_terms'] = df.apply (lambda row: get_installment_and_terms(row), axis=1)
df['annualized_returns'] = df.apply (lambda row: get_annualized_returns(row), axis=1)

In [100]:
# for x in df['term']:
#     print(int(x[:3])**2)

df.head()

,Unnamed: 0,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annualized_returns,returns,installments_and_terms,...,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,589036,10000.0,10000.0,10000.0,36 months,9.44,320.05,1514.78,11514.78,11521.80,...,40.0,1.0,0.0,206327.0,19803.0,13400.0,22044.0,N,Cash,N
1,153755,24000.0,24000.0,24000.0,60 months,16.55,590.68,12197.01,36197.01,35440.80,...,57.1,0.0,0.0,122955.0,64122.0,22000.0,87255.0,N,Cash,N
2,693848,12000.0,12000.0,12000.0,60 months,14.46,282.09,5188.59,17188.59,16925.40,...,0.0,0.0,0.0,270301.0,66028.0,15000.0,91011.0,N,Cash,N
3,1435529,20000.0,20000.0,20000.0,36 months,19.92,742.46,6898.74,26898.74,26728.56,...,66.7,1.0,0.0,53778.0,42388.0,16400.0,30378.0,N,Cash,N
4,633592,15000.0,15000.0,15000.0,36 months,10.42,486.98,2525.82,17525.82,17531.28,...,28.6,0.0,0.0,40700.0,22543.0,26200.0,12000.0,N,Cash,N